/*
Székely Balázs Csaba
SZOFT I/1/E
2022-11-17
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #bac5dd;
    font-size: 14px;
    font-family: sans-serif;
}
.container {
    max-width: 1312px;
    margin: 0 auto;
}
header {
    background-image: url(img/picture1.jpg);
    height: 580px;
}
header h1 {
    color: white;
    font-size: 5rem;
    padding-top: 300px;
    padding-left: 400px;
}
.nav{
    background-color: #5473b4;
}
.mainmenu {
    list-style: none;

}
.mmelement {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    /*border: solid 1px black;*/
    width: 19.5%;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
.mainmenu li a {
    text-decoration: none;
    color: white;
}
.submenu {
	display: none;
    position: absolute;
    list-style: none;
	z-index: 100;
    padding-top: 25px;
    margin-left: 20px;
}
.submenu li a {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.mainmenu li:hover > .submenu {
    display: block;
    background-color: #5473b4;
    text-align: center;
}
.nav a:hover {
    color: black;
}
.content {
    background-color: #DDDDDD;
}
.row {
    display: inline-block;
    margin-top: -1px;
}
.box1 {
    padding: 10px 20px;
    max-width: 50%;
    float: right;

}
.box2 {
    padding: 10px 20px;
    max-width: 50%;

}
img.bal {
    float: left;
    max-width: 50%;
}
img.jobb {
    float: right;
    max-width: 50%;
}
p {
    line-height: 20pt;
    padding-top: 20px;
}

footer {
    background-color: white;
    text-align: center;
    padding: 50px;
}

img.bal::after img.jobb::after .box1 {
    content: '';
    clear: both;
    display: table;
}

@media (max-width: 800px) {
    .nav ul li {
        font-size: 12px;
    }
    
}



