* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #bac5dd;
    font-size: 14px;
    font-family: sans-serif;
}
.container {
    max-width: 1312px;
    margin: 0 auto;
}
header {
    background-image: url(img/picture1.jpg);
    height: 580px;
}
header h1 {
    color: white;
    font-size: 5rem;
    padding-top: 300px;
    padding-left: 400px;
}
.nav{
    background-color: #5473b4;
}
.nav ul {
    list-style: none;

}
.nav ul li {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    border: solid 1px black;
    width: 19.5%;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
.nav ul li a {
    text-decoration: none;
    color: white;
}
.content {
    background-color: #DDDDDD;
}
.box1 {
    padding: 10px 20px;
}
.box2 {
    padding: 10px 20px;
}
img.bal {
    float: left;
    max-width: 49.9999%;
    margin-right: 10px;
}
img.jobb {
    float: right;
    max-width: 49.9999%;
}

@media (max-width: 800px) {
    .nav ul li {
        font-size: 12px;
    }
    
}



